td,th{
    border: #0e3f4e 2px solid;
    padding: 10px ;

}
table{
    width: 100%;
    border-collapse: collapse ;
}
thead{
    font-family: "Helvetica Neue",Helvetica,Arial;
    font-size:28px;
    color: #082546;
}
h2{
    text-align: center;
    font-size:30px;
    font-family: "Droid Serif",Helvetica,Arial;
    color: cadetblue;
}